{% extends 'dummy.html' %}

{% block title %}
    <title>RESET PASSWORD</title>
{% endblock %}


{% block body_block %}

<center>
    <form method="POST">
        {% csrf_token %}

        <h1 class="color: primary">Reset password</h1>

        <label for="un">Username</label>
        <input type="text" name="un" id="un" placeholder=" username"><br>

        <!-- <label for="rs">sPassword</label> -->
        <!-- <input type="password" name="rs" id="rs" placeholder=" oldpassword"><br> -->

        <label for="rp">RestPassword</label>
        <input type="password" name="rp" id="rp" placeholder=" newpassword"><br>

        <input type="submit" value="reset" class="btn btn-primary">

    </form>
</center>

{% endblock %}